body.dark-mode {
    background-image: none;
    background-color: #121212;
    color: #E0E0E0;
}

body.dark-mode .ask-ville,
body.dark-mode .historique-carte,
body.dark-mode .note-box {
    background: #2C2C3A;
    color: #E0E0E0;
    border: 1px solid #444;
}

body.dark-mode input,
body.dark-mode textarea {
    background-color: #1E1E2F;
    color: #E0E0E0;
    border: 1px solid #444;
}

body.dark-mode #btn-historique,
body.dark-mode .search-ville,
body.dark-mode #ask-ville-submit,
body.dark-mode #submit-note {
    background: #5F8BE3;
    color: #FFF;
}

body.dark-mode #btn-historique:hover,
body.dark-mode .search-ville:hover,
body.dark-mode #ask-ville-submit:hover {
    background: #4CAFEF;
}
